@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.App {
    @include mixins.absolute-center(50%, 50%);
    font-weight: bold;
    @include mixins.center(center);
    @include mixins.res(75rem, 45rem);
    box-shadow: vars.$box-shadow-heavy;
    border-radius: vars.$border-radius-lg;
    background-color: #212121;
    overflow: hidden;

    .sign-up {
        position: absolute;
        margin: 50px;
        visibility: hidden;
        opacity: 0;
        right: 15%;
        transition: all 0.4s ease;
        h1 {
            color: vars.$rice;
            text-align: start;
            font-size: 45px;
        }
    }

    .sign-up.active-sign {
        visibility: visible;
        opacity: 1;
        right: 0;
    }

    .sign-in.unactive-sign {
        visibility: hidden;
        opacity: 0;
        left: 10%;
    }

    .sign-in {
        position: absolute;
        margin: 50px;
        left: 0;
        opacity: 1;
        transition: all 0.4s ease;
        h1 {
            color: vars.$rice;
            text-align: start;
            font-size: 45px;
        }
    }

    .App-logo {
        height: 8rem;
        pointer-events: none;
        animation: App-logo-spin infinite 20s linear;
        @include mixins.absolute-center(4%, 60%);
    }

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }
}


@keyframes changeForm {
    0% {
        mask-image: radial-gradient(circle at right bottom, rgba(0, 0, 0, 2), transparent 57%);
            -webkit-mask-image: radial-gradient(circle at right bottom, rgba(0, 0, 0, 2), transparent 57%);
    }
    50% {
        mask-image: radial-gradient(circle at left top, rgba(0, 0, 0, 2), transparent 57%);
            -webkit-mask-image: radial-gradient(circle at left top, rgba(0, 0, 0, 2), transparent 57%);
    }
    100% {
        mask-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 2), transparent 50%);
            -webkit-mask-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 2), transparent 50%);
    }

}

.form-group {
    @include mixins.res(27rem, 3rem);
    @include mixins.center(center);
    position: relative;
    margin: vars.$margin-small;

    .info {
        left: 0;
    }

    input {
        @include mixins.res(25rem, 1.2rem);
        right: 0;
    }

    .icon {
        position: absolute;
        right: 0;
        margin: 20px;
        font-size: 20px;
        color: #4d4d4d;
        border-radius: vars.$border-radius-full;
        border: 1px solid #4d4d4d;
        @include mixins.res(2rem, 2rem);
        @include mixins.center(center);
    }

    .or {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 50%;
        top: 40px;
        hr {
            flex: 1;
            border: none;
            border-top: 1px solid white;
        }

        p {
            margin: 0;
            white-space: nowrap;
            color: white;
        }
    }

    .social-media {
        position: absolute;
        display: flex;
        gap: 25px;
        top: 90px;

        a {
            font-size: 25px;
            @include mixins.res(2.5rem, 2.5rem);
            @include mixins.center(center);
            border-radius: vars.$border-radius-full;
            border: 1px solid #4d4d4d;
            color: #4d4d4d;

            &:nth-child(1):hover {
                border: 1px solid vars.$mid-night;
                color: vars.$mid-night;
            }

            &:nth-child(2):hover {
                border: 1px solid vars.$jungle-green;
                color: vars.$jungle-green;
            }
            
            &:nth-child(3):hover {
                border: 1px solid vars.$true-blue;
                color: vars.$true-blue;
            }
        }
    }
    
    &:not(:focus-within) .info {
        color: #4d4d4d;
    }
}

.form-group-2 {
    @include mixins.res(27rem, 3rem);
    @include mixins.center(center);
    position: relative;
    margin: vars.$margin-small;

    .info:nth-child(1) {
        left: 0;
    }

    input:nth-child(2) {
        @include mixins.res(11rem, 1.2rem);
        margin-left: -5px;
        left: 0;
    }

    .info:nth-child(3) {
        margin-left: 110px;
    }

    input:nth-child(4) {
        @include mixins.res(11rem, 1.2rem);
        right: 0;
    }

    &:not(:focus-within) .info{
        color: #4d4d4d;
    }
}

.info {
    position: absolute;
    margin: 10px;
    font-weight: 500;
    color: vars.$gray;
    z-index: 2;
    pointer-events: none;
    transition: all 0.2s ease;
}

input {
    position: absolute;
    background-color: #3d3d3d;
    color: vars.$white;
    line-height: 1.5;
    border: 1px solid vars.$electric-basic;
    border-radius: vars.$border-radius-lg;
    padding: 25px 12px 15px 15px;
    margin: vars.$margin-small;
    font-size: vars.$font-size-base;
    transition: all 0.2s ease;

    &:not(:focus) {
        background-color: vars.$electric-basic;
        border: 2px solid vars.$electric-basic;
        color: #4d4d4d;
    }
}

.btn-sign-in {
    position: absolute;
    margin: vars.$margin-small;
    left: 45rem;
    @include mixins.res(15rem, 3rem);
}

.btn-sign-up {
    position: absolute;
    margin: vars.$margin-small;
    bottom: 7rem;
    right: 45rem;
    @include mixins.res(15rem, 3rem);
}
.submit-button {
    position: absolute;
    margin: vars.$margin-small;
    right: 0;
    @include mixins.res(10rem, 2.5rem);
}

.submit-button-2 {
    position: absolute;
    left: 0;
    @include mixins.res(10rem, 2.5rem);
}

.container {
    position: absolute;
    background-image: url(https://i.pinimg.com/originals/7a/e7/a7/7ae7a72706415ba1279cd1f2ae7854ca.gif);
    background-size: cover;
    background-position: center;
    @include mixins.res(100%, 100%);
    border-radius: vars.$border-radius-lg;
    z-index: -1;
    transition: all 0.2s ease;
    mask-image: radial-gradient(circle at right bottom, rgba(0, 0, 0, 2), transparent 57%);
        -webkit-mask-image: radial-gradient(circle at right bottom, rgba(0, 0, 0, 2), transparent 57%);
}

.active {
    bottom: 40%;
    font-size: vars.$font-size-small;
    padding-bottom: 3px;
}

.checkbox {
    position: absolute;
    right: 0;
    @include mixins.res(8rem, 2.5rem);

    input {
        position: absolute;
        right: -70px;
    }

    .remember {
        position: absolute;
        font-weight: 500;
        color: white;
        margin: 10px;
        left: 0;
    }
}